version: '3.9'

services:
  db:
    image: postgres:13
    env_file:
      .env.dev
    volumes:
      - data:/var/lib/postgresql/data

  web:
    build: .
    command: python /code/manage.py runserver 0.0.0.0:8000
    ports:
      - 8000:8000
    volumes:
      - .:/code
    env_file:
      .env.dev
    depends_on:
      - db

volumes:
  data: