img.like-icon {
    width: 24px;
    height: 24px;
}

img.index_icon {
    width: 24px;
    height: 24px;
}

img.comment-icon {
    width: 24px;
    height:24px;
}

img.repost-icon {
    width: 24px;
    height: 24px;
}

img.viewed-icon {
    width: 24px;
    height: 24px;
}