{% extends 'blog/_base.html' %}
{% load static %}

{% block content %}
<div class="col-md-3 col-xl-2 bd-sidebar">
    <div class="">
        <form class="my-2 bd-search d-flex align-items-center">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
    <div class="d-flex align-items-center">
        <nav class="bd-links">
            <div class="bd-toc-item">
                <a class="bd-toc-link">New</a>
            </div><div class="bd-toc-item">
                <a class="bd-toc-link">The Best</a>
            </div><div class="bd-toc-item">
                <a class="bd-toc-link">The Most Popular</a>
            </div>
        </nav>
    </div>
</div>
<main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
    {% block main %}
    {% endblock %}
</main>

{% endblock %}