{% load static %}

<div class="form-group">
    {% for name in body_forms %}
    {% if 'text' in name %}
    <label class="">Text</label>
    <div class="">
        <textarea class="textarea form-control" name="{{ name }}" cols="80" rows="5" placeholder="Starting typing your article..."></textarea>
    </div>
    {% elif 'image_url' in name %}
    <label class="">Image URL</label>
    <div class="">
        <input class="urlinput form-control" type="url" name="{{ name }}" placeholder="Input your url..." maxlength="200">
    </div>
    {% endif %}
    {% endfor %}
</div>
