{% load static %}

<div class="form-group">
    {% for name in body_forms %}
    {% if 'text' in name %}
    <label class="">Text</label>
    <div class="">
        <textarea class="textarea form-control" name="{{ name }}" cols="80" rows="5" placeholder="Starting typing your article..."></textarea>
    </div>
    {% elif 'image' in name %}
    <label class="">Image</label>
    <div class="">
        <input class="clearablefileinput form-control-file" type="file" name="{{ name }}" accept="images/">
        {% block image %}
        {% endblock %}
    </div>
    {% endif %}
    {% endfor %}
</div>
