{% load static %}
            <div class="container-fluid bg-light row align-items-start my-lg-4">
                <article class="container-fluid">
                        <!--author, published time, group, blog title -->
                        <nav class="navbar navbar-expand-lg navbar-light bg-light ml-3">
                            <div class="navbar-nav mr-auto">
                                <ul class="navbar-nav bd-navbar-nav flex-row">
                                    <li class="nav-item"><a class="nav-link" href="{{ blog.author.get_absolute_url }}">{{ blog.author }}</a></li>
                                    <li class="nav-item"><time class="nav-link disabled" datetime="{{ blog.published_date }}">{{ blog.published_date }}</time></li>
                                </ul>
                            </div>
                        </nav>
                        <div class="container-fluid">
                            <a class="text-secondary" href="{{ blog.get_absolute_url }}">
                                <p class="h3">{{ blog.title }}</p>
                            </a>
                        </div>
                        <!--main blog story or image -->
                        <div class="container-fluid">
                            {% for main_info in blog.text_or_image.all %}
                            {% if main_info.text %}
                            <p class="">{{ main_info.text }}</p>
                            {% elif main_info.image %}
                            <img class="img-fluid" src="{{ main_info.image.url }}">
                            {% endif %}
                            {% endfor %}
                        </div>
                        <!-- tags -->
                        <nav class="navbar navbar-expand-lg navbar-light bg-light ml-3">
                            <div class="navbar-nav mr-auto">
                                <ul class="navbar-nav bd-navbar-nav flex-row">
                                    <li class="nav-item px-1">
                                        <p class="text-xl-left" >{{ blog.tags }}</p>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <!-- likes, comments, views, and others -->
                        <nav class="navbar navbar-expand-lg navbar-light bg-light ml-3">
                            <div class="navbar-nav mr-auto">
                                <ul class="navbar-nav bd-navbar-nav flex-row">
                                    <li class="nav-item px-1">
                                        {% include "blog/like_section.html" %}
                                    </li>
                                    <li class="nav-item px-1">
                                            <a class="nav-link" href="{{ blog.get_absolute_url }}">
                                                <span>
                                                    <img class="comment-icon" src="{% static 'blog/images/comment-icon.webp' %}">
                                                </span>
                                                <span>{{ blog.number_of_comments }}</span>
                                            </a>
                                    </li>
                                    <li class="nav-item px-1">
                                            <a class="nav-link" href="{{ blog.get_absolute_url }}">
                                                <span>
                                                    <img class="viewed-icon" src="{% static 'blog/images/viewed.png' %}">
                                                </span>
                                                <span>{{ blog.views }}</span>
                                            </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                </article>
            </div>