{% extends 'blog/_base2.html' %}
{% load static %}


{% block title %}Detail Blog{% endblock %}

{% block main %}
<div class="container-fluid">
<div class="bg-light row align-items-start my-lg-4">
    <article>
            <!--author, published time, group, blog title -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light ml-3">
                <div class="navbar-nav mr-auto">
                    <ul class="navbar-nav bd-navbar-nav flex-row">
                        <li class="nav-item"><a class="nav-link" href="{{ blog.author.get_absolute_url }}">{{ blog.author }}</a></li>
                        <li class="nav-item"><time class="nav-link disabled" datetime="{{ blog.published_date }}">{{ blog.published_date }}</time></li>
                    </ul>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light bg-light ml-3">
                <a class="nav-item navbar-brand" href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
            </nav>
            <!--main blog story or image -->
            <div class="mx-5">
                <p>{{ blog.text }}</p>
            </div>
            <!-- tags -->
            <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between ml-3">

            </div>
            <!-- likes, comments, views, and others -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light ml-3">
                <div class="navbar-nav mr-auto">
                    <ul class="navbar-nav bd-navbar-nav flex-row">
                        <li class="nav-item px-1">
                            <div>
                                <a class="nav-link" href="">
                                    <span>
                                        <img class="like-icon" src="{% static 'blog/images/like.png' %}">
                                    </span>
                                    <span>{{ blog.total_likes }}</span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item px-1">
                            <div>
                                <a class="nav-link">
                                    <span>
                                        <img class="comment-icon" src="{% static 'blog/images/comment-icon.webp' %}">
                                    </span>
                                    <span>{{ blog.number_of_comments }}</span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item px-1">
                            <div>
                                <a class="nav-link">
                                    <span>
                                        <img class="repost-icon" src="{% static 'blog/images/reposts.jpeg' %}">
                                    </span>
                                    <span>0</span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item px-1">
                            <div>
                                <a class="nav-link">
                                    <span>
                                        <img class="viewed-icon" src="{% static 'blog/images/viewed.png' %}">
                                    </span>
                                    <span>{{ blog.number_of_comments }}</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
    </article>
</div>
</div>
<!-- comment section -->
<h4 class="h4">Leave your comment!</h4>
<div id="comment-section">
    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ comment_form }}
            <button class="btn btn-info" type="submit">Add comment <i class="fas fa-comments"></i></button>
        </div>
    </form>
    {% else %}
    <a class="btn btn-outline-info" href="{% url 'login' %}?next={{ request.path }}">Log in to add a comment!</a><br>
    {% endif %}

    {% if comments %}
    <strong class="text-secondary">{{ blog.number_of_comments }} Comment{{ blog.number_of_comments|pluralize }}</strong>
    <hr>
    <ul>
        {% for comment in comments %}
        <li>
            <div>
                <span>
                    <strong class="text-info">{{ comment.author }} </strong>
                    <small class="text-muted">{{ comment.date_posted }}</small>
                </span>
                <p>
                    {{ comment.text|safe }}
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong class="text-secondary">No comments yet...</strong>
    {% endif %}
</div>
{% endblock %}